div.Header{
    width: 100%;
    
    margin: 0 0 20px 0;
    position: relative;
    background-color: antiquewhite;
    top: 0;
    padding-top: 0;
}

div.Header1{
    display: block;
}

div.Header11{
    height: 500px;
    text-align: center;
    background-image: url(images/anhnen2.jpg);
    background-size:cover;
}

nav.nav1-l {
    display: flex;
    flex-direction: row;
    text-align: right;
    position: absolute;
}

nav.nav1-l a {
    width: 100px;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
}

nav.nav1-r {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
   
}

nav.nav1-r a {
    width: 100px;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
}
div.Left{
    position: absolute;
    width: 15%;
    left: 0;
    background-color: gainsboro;
    height: 2000px;
    margin: 0;
    padding: 0;
}
div.Right{
    position: absolute;
    width: 15%;
    left: 85%;
    background-color:gainsboro;
    height: 2000px;
    margin: 0;
    padding: 0;
}
div.Body{
    position: absolute;
    width: 66%;
    left: 17%;
    background-color: aquamarine;
    height: 2000px;
    margin: 0;
    padding: 0;
}
div.Footer{
    position:absolute;
    left: 0;
    top: 2460px;
    height: 500px;
    margin: 0;
    width: 100%;
    background-color: lightskyblue;
}