div.Header{
    width: 100%;
    
    margin: 0 0 20px 0;
    position: relative;
    background-color: antiquewhite;
    top: 0;
    padding-top: 0;
}

div.Header1{
    display: block;
}

div.Header11{
    height: 500px;
    text-align: center;
    background-image: url(images/statebuilding2.jpg);
    background-size:cover;
    
}

div.Header11 h1{
    color: rgb(247, 236, 254);
    padding-top: 50px;
    margin-top: 0;
}

div.Header111{
    width: 100%;
    margin-top: 50px;
}

/* Left nav bar */
.navbar {
    height: 60px;
}

nav.nav1-l {
    display: flex;
    flex-direction: row;
    text-align: right;
    position: absolute;
    margin-left: 30px;
}

nav.nav1-l a {
    color: black;
    width: 90px;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    line-height: 60px;
    justify-content: center;
    text-decoration: none;
}

nav.nav1-l a:hover {
    background-color: rgb(125, 225, 135);
}

/* Right nav bar*/
nav.nav1-r {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
   
}

nav.nav1-r a {
    color: black;
    width: 90px;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    margin: 0 5px;
    line-height: 60px;
    justify-content: center;
    text-decoration: none;
}

nav.nav1-r a:hover {
    background-color: rgb(125, 225, 135);
}

nav.nav1-r select {
    margin-right: 1%;
    background-color: antiquewhite;
    border: none;
    width: 100px;
    line-height: 30px;
}

.navbar-links {
    display: none;  
    flex-direction: row-reverse;
    text-align: right;
}

/* Toggle-button */
.navbar-toggle {
    display: none;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    height: 60px;
    width: 60px;
} 
/* 500-865px */
@media (max-width: 865px) {
    .navbar-links {
        display: none;
        background-color: antiquewhite;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        justify-content: end;
    }

    .navbar-links a {
        height: 30px;
        line-height: 30px;
        background-color: antiquewhite;
        text-decoration: none;
        width: 100px;
        text-align: left;
        z-index: 3;
        padding-left: 10px;
        color: black;
        border: solid 1px black;
    }

    nav.nav1-l a {
        display: none;
    }

    nav.nav1-l a:first-child {
        display: flex;
    }

    nav.nav1-r a {
        color: black;
        text-decoration: none;
        display: none;
        height: 60px;
        line-height: 60px;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-links.show {
        display: grid;
    }

    ul {
        padding-inline-start: 0;
    }

    div.Footer {
        
    }

    div.Footer div {
        
    }

    * {
        font-size: x-small;
    }
    h1, h2, h3 {
        font-size: medium;
    }
    h3 {
        margin-bottom: 10px;
    }
    section.fullmenu ul {
        display: none;
    }
    section.about {
        margin-bottom: 200px;
    }

    nav.search {
        margin-left: 0;
        margin-right: 0;
    }

    div.image-descr {
        display: grid;
        float: left;
        height: auto;
    }

    div#imagex2 {
        
        width: 100%;
    }
    div#imagex2 img {
        height: 300px;
        width: 95%;
    }

    img#imagemain {
        width: 95%;
        height: 300px;
        
    }

    div.descr p.pdescr {
        width: 60%;
        font-size: large;
        margin-left: 10px;
        line-height: 30px;
        text-align: justify;
        margin-right: 10px;
    }
}

/* Dưới 500px */
@media (max-width: 500px) {
    .navbar-links {
        display: none;
        background-color: antiquewhite;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        justify-content: end;
    }

    .navbar-links a {
        height: 30px;
        line-height: 30px;
        background-color: antiquewhite;
        text-decoration: none;
        width: 100px;
        text-align: left;
        z-index: 3;
        padding-left: 10px;
        color: black;
        border: solid 1px black;
    }

    nav.nav1-l a {
        display: none;
    }

    nav.nav1-l a:first-child {
        display: flex;
    }

    nav.nav1-r a {
        color: black;
        text-decoration: none;
        display: none;
        height: 60px;
        line-height: 60px;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-links.show {
        display: grid;
    }

    ul {
        padding-inline-start: 0;
    }

    div.Footer {
        display: none;
    }

    div.Footer div {
        
    }

    div.nguoithietke {
        display: none;
    }


    * {
        font-size: x-small;
    }
    h1, h2, h3 {
        font-size: medium;
    }
    h3 {
        margin-bottom: 10px;
    }
    section.fullmenu ul {
        display: none;
    }
    section.about {
        margin-bottom: 200px;
    }

    nav.search {
        margin-left: 0;
        margin-right: 0;
    }

    div.image-descr {
        display: grid;
        float: left;
        height: auto;
    }

    div#imagex2 {
        
        width: 100%;
    }
    div#imagex2 img {
        height: 150px;
        width: 95%;
    }

    img#imagemain {
        width: 95%;
        height: 150px;
        
    }

    div.descr p.pdescr {
        width: 100%;
        font-size: larger;
        margin-left: 10px;
        line-height: 30px;
        text-align: justify;
        margin-right: 5px;
    }
}

/* Địa điểm nổi bật */
.place-list {
    display: grid;
    padding: 20px;
    background-color: #f4f7d7;
    padding-right: 10px;
    padding-left: 10px;
    
}

.place {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.place img.imagemain {
    width: 50%;
    height: 490px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
}

div.descr {
    display: flex;
}
div.descr p {
    width: 50%;
    font-size: larger;
    line-height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

div.descr img {
    padding: 5px;
}

div.imagex2 {
    display: grid;
    width: 48%;
}

div.imagex2 img {
    width: 95%  ;
    height: 240px;
    border-bottom: 1px solid #ccc;
}

div.image-descr {
    display: block;
    float: left;
    text-align: left;
}
div.image-descr div{
    float: left;
    
}

h1 {
    text-align: center;
}

.place h2 {
    text-align: left;
    padding-left: 30px;
}

body {
    margin: 0;
}

/* Bảng điền thông tin */

section#search{
    
    justify-content: center;
}

label.location {
    font-size:medium ;
}

form#search-form{
    display: grid;
    width: 70%;
    margin: auto;
    background-color: white;
    border: solid 2px black;
    border-radius: 20px;
}

form#search-form h2{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h2{
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: antiquewhite;
    
}

form#search-form input{
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: lavender;
    margin-top: 0;
    margin-bottom: 5px;
}

form#search-form button{
    width: 120px;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

form#search-form div {
    display: flex;
    justify-content: center;
    margin: 5px 10px 5px 0px;

}

form#search-form h2 {
    width: 100%;
    margin-left: 0;
}

div.info {
    display: flex;
    justify-content: center;
}

form#search-form label {
    margin: 5px 5px 5px 3px;
    line-height: 30px;
}

form#search {
    margin: 0;
}


@media only screen and (max-width: 600px) {
    form#search-form{
        width: 90%;      
    }
  }
/* Footer */

div.Footer{
    position: relative;
    margin: 0;
    width: 100%;
    background-color: rgb(217, 230, 215);
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.Footer h3{
    padding-top: 30px;
    margin-top: 0;
}

ul.Find-us {
    display: flex;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 0;
}

ul.Find-us li {
    padding: 10px;
    margin-bottom: 50px;
    
}

.Footer ul {
    padding-inline-start: 0;
}

.Footer div {
    justify-self: unset;
    padding-right: 3%;
    padding-left: 3%;
}

ul li {
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
}

.lienhe li {
    text-align: left;
}

/* Nút bấm lên đầu trang */
.scroll-to-top {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(253, 211, 157);
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    width: 10%;
  }

  .scroll-to-top:hover {
    background-color: rgb(114, 237, 155);
  }


/* Code phần comment */
.comment-section {
    width: 100%;
    margin: 50px 0;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}
input[type="text"],
textarea {
    width: 100%;
    padding:10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#comments {
    margin-top: 10px;
}

.comment {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.comment h4 {
    margin: 10px;
    width: 100%;
}
.comment .comment-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.comment p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #555;
}
.comment img {
    width: 50px;
    height: 50px;
}

.form-group {
    margin: 20px 0;
}

#comment-form button {
    padding: 10px 15px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#comment-form button:hover {
    background-color: #218838;
}